
// declaramos nuestras variables de colores y fuente

$background-color: #FFEFE7;
$title-and-text-color: #7C6A0A;
$button-text-color: #FFFFFF;
$button-background: #FA9500;
$card-health-color: #FFDAC6;
$card-home-color: #BABD8D;
$secondary-text-color: #E86424;

$h1: 4.8rem;
$h2: 3.2rem;
$h3: 2.4rem;
$letter-lg: 2rem;
$letter-md: 1.6rem;

$font-stack: "IBM Plex Sans", sans-serif;

// empezamos a dar estilos

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body {
    width: 100%;
    background-color: $background-color;
    color: $title-and-text-color;
    font-family: $font-stack;
}

header {
    width: auto;
    margin-bottom: 4.8rem;

    .navbar {
        padding: 4rem;
        padding-left: 7.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        font-size: $letter-lg;
    }

    .icons {
        list-style-type: none;
        display: flex;
        gap: 2.4rem;
    }
}

main {
    width: auto;
    margin-bottom: 4.8rem;

    article {
        padding: 4rem;
        padding-left: 7.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.2rem;

        .impact-section {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 4.8rem;
            gap: 4.8rem;

            h1 {
                font-size: $h1;
            }
            p {
                font-size: 2.4rem;
            };
            button {
                border-style: none;
                background-color: $button-background;
                color: $button-text-color;
                width: 12vw;
                border-radius: 36px;
                padding: 2rem;
                font-size: 1.6rem;
            }
        }

        .image-section img{
            width: 25vw;
            border-radius: 24px;
        }
    }

    h2 {
        font-size: $h2;
        margin-bottom: 8rem;
    }

    .product-section {
        padding: 4rem;
        padding-left: 7.2rem;
        margin-bottom: 3.2rem;

        .healthcare {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 8rem;
            column-gap: 84px;
            row-gap: 80px;
            .product-card {
                width: 20vw;
                min-height: 60vh;
                background-color: $card-health-color;
                color: $title-and-text-color;
                padding: 2rem;
                border-radius: 8px;
                .icon {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 1.2rem;
                    svg {
                        width: 28px;
                        height: 28px;
                    }
                }
                .product-image {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        object-fit: cover;
                        width: 12vw;
                        height: 30vh;
                        border-radius: 8px;
                    }
                }
                h3 {
                    margin: .8rem 0px;
                    font-size: $h3;
                    font-weight: 500;
                }
                p {
                    font-size: $letter-md;
                }
            }

        }

        .furniture {
            @extend .healthcare;
            .product-card {
                background-color: $card-home-color;
                color: $button-text-color;
            }
        }
    }

}


.footer {
    $footer-background-color: #FA9500;

    background-color: $footer-background-color;
}
