
// declaramos nuestras variables de colores y fuente

$background-color: #FFEFE7;
$title-and-text-color: #7C6A0A;
$button-text-color: #FFFFFF;
$card-health-color: #FFDAC6;
$card-home-color: #BABD8D;
$secondary-text-color: #E86424;

$font-stack: "IBM Plex Sans", sans-serif;

// empezamos a dar estilos

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
}

.footer {
    $footer-background-color: #FA9500;

    background-color: $footer-background-color;
}
