
// declaramos nuestras variables de colores y fuente

$background-color: #FFEFE7;
$title-and-text-color: #7C6A0A;
$button-text-color: #FFFFFF;
$button-background: #FA9500;
$card-health-color: #FFDAC6;
$card-home-color: #BABD8D;
$secondary-text-color: #E86424;

$h1: 4.8rem;
$h2: 3.2rem;
$h3: 2.4rem;
$letter-lg: 2rem;
$letter-md: 1.6rem;

$font-stack: "IBM Plex Sans", sans-serif;

// mixins

@mixin flexCenter($direction,$content,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

// empezamos a dar estilos

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body {
    width: 100%;
    background-color: $background-color;
    color: $title-and-text-color;
    font-family: $font-stack;
}

header {
    width: auto;
    margin-bottom: 4.8rem;

    .navbar {
        @include flexCenter(row, space-between, center);
        padding: 4rem 7.5rem;
    }

    p {
        font-size: $letter-lg;
    }

    .icons {
        list-style-type: none;
        display: flex;
        gap: 2.4rem;
    }
}

main {
    width: auto;
    margin-bottom: 4.8rem;

    article {
        @include flexCenter(row, space-between, center);
        padding: 4rem 7.5rem;
        margin-bottom: 3.2rem;

        .impact-section {
            @include flexCenter(column, space-evenly, flex-start);
            margin-right: 37rem;
            gap: 4.8rem;

            h1 {
                font-size: $h1;
            }
            p {
                font-size: 2.4rem;
            };
            button {
                border-style: none;
                background-color: $button-background;
                color: $button-text-color;
                width: 12vw;
                border-radius: 36px;
                padding: 2rem;
                font-size: 1.6rem;
                cursor: pointer;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .image-section img{
            width: 25vw;
            border-radius: 24px;
        }
    }

    h2 {
        font-size: $h2;
        margin-bottom: 8rem;
    }

    .product-section {
        padding: 4rem 7.5rem;
        margin-bottom: 3.2rem;

        .healthcare {
            @include flexCenter(row, center, center);
            flex-wrap: wrap;
            margin-bottom: 8rem;
            column-gap: 200px;
            row-gap: 80px;
            .product-card {
                width: 20vw;
                min-height: 60vh;
                background-color: $card-health-color;
                color: $title-and-text-color;
                padding: 1.2rem;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                .icon {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    svg {
                        width: 28px;
                        height: 28px;
                    }
                }
                .product-image {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        object-fit: cover;
                        width: 16vw;
                        height: 32vh;
                        border-radius: 8px;
                    }
                }
                h3 {
                    margin: .8rem 0px;
                    font-size: $h3;
                    font-weight: 500;
                }
                p {
                    font-size: $letter-md;
                }
            }

        }

        .furniture {
            @extend .healthcare;
            .product-card {
                background-color: $card-home-color;
                color: $button-text-color;
            }
        }
    }

    .info-section {
        padding: 4rem 7.5rem;
        margin-bottom: 3.2rem;
        .about-us {
            margin-bottom: 8rem;
            .icons {
                @include flexCenter(row, space-evenly, center);
            }
            .earth {
                @include flexCenter(row, center, center);
                width: 30vw;
                gap: 4rem;
                color: $secondary-text-color;
                img {
                    object-fit: contain;
                }
                p{
                    font-size: $letter-lg;
                    text-align: center;
                }
            }
            .innovation {
                @extend .earth
            }
        }
        .gallery {
            margin-bottom: 8rem;
            .gallery-images {
                @include flexCenter(row, space-between, center);
                img {
                    width: 28vw;
                    height: 45vh;
                    object-fit: cover;
                    object-position: 5px 35%;
                    border-radius: 16px;
                    &:hover {
                        transform: scale(1.1);
                        transition-duration: 0.3s;
                    }
                }
            }
        }
        .location {
            .map {
                @include flexCenter(row, center, center);
                padding-bottom: 5rem;
                img {
                    width: 100%;
                }
            }
            h3 {
                font-size: $h3;
                margin-bottom: 1.2rem;
            }
            p {
                font-size: $letter-lg;
            }
            h3, p {
                color: $secondary-text-color;
            }
        }
    }
}

.footer {
    $footer-background-color: #FA9500;
    width: 100%;
    padding: 4rem 7.5rem;
    color: $button-text-color;
    background-color: $footer-background-color;
    .social-media {
        @include flexCenter(row, center, center);
        gap: 4rem;
    }
    h3 {
        font-size: $h3;
    }
    p {
        font-size: $letter-md;
    }
    h3, p {
        margin-bottom: 2rem;
    }
}

// media queries

// media query para pantallas móviles

@media (max-width: 600px) {
    $h1: 2.4rem;
    $h2: 2rem;
    $h3: 1.6rem;
    $letter-lg: 1.2rem;
    $letter-md: 0.8rem;


    header, main, footer {
        min-width: 375px;
    }

    header {
        margin-bottom: 0;
        .navbar {
            padding: 2rem 3.2rem;
        }
    }

    main {
        margin-bottom: 0;
        article {
            @include flexCenter(column-reverse, space-between, center);
            padding: 2rem 3.2rem;
            margin-bottom: 1.6rem;
            .image-section img{
                width: 100%;
                min-height: 68vh;
                max-height: 80vh;
                object-fit: cover;
                margin-bottom: 1.6rem;
            }
            .impact-section {
                margin-right: 0;
                gap: 1.2rem;
                width: 100%;
                h1 {
                    font-size: $h1;
                }
                p{
                    font-size:$letter-lg;
                    text-wrap: pretty;
                }
                button {
                    width: 40vw;
                    align-self: center;
                }
            }
        }

        h2 {
            font-size: $h2;
            margin-bottom: 4rem;
        }

        .product-section {
            padding: 2rem 3.2rem;
            margin-bottom: 1.6rem;
            .healthcare {
                justify-content: normal;
                flex-wrap: nowrap;
                margin-bottom: 4rem;
                column-gap: 28px;
                row-gap: 40px;
                overflow-x: auto;
                .product-card {
                    width: 48vw;
                    justify-content: normal;
                    .icon {
                        margin-bottom: 0.8rem;
                    }
                    .product-image img {
                        width: 40vw;
                    }
                    h3 {
                        font-size: $h3;
                    }
                    p {
                        font-size: $letter-lg;
                    }
                }
            }
        }

        .info-section {
            padding: 2rem 3.2rem;
            margin-bottom: 1.6rem;
            .about-us {
                margin-bottom: 4rem;
                .icons {
                    flex-direction: column;
                    gap: 4rem;
                    .earth {
                        width: 100%;
                        flex-direction: column;
                    p {
                        font-size: 1.6rem;
                        text-wrap: pretty;
                    }
                    }
                }
            }
            .gallery {
                margin-bottom: 4rem;
                .gallery-images {
                    flex-direction: column;
                    gap: 4rem;
                    img {
                        width: 72vw;
                        height: 60vh;
                    }
                }
            }
            .location {
                h3 {
                    font-size: $h3;
                }
                p {
                    font-size: $letter-lg;
                }
            }
        }
    }
    
    .footer {
        padding: 2rem 3.2rem;
        h3 {
            font-size: $h3;
        }
        p {
            font-size: $letter-lg;
        }
        .social-media {
            margin-top: 2.4rem;
            gap: 2rem;
            img {
                width: 22px;
                height: 23px;
            }
        }
    }
}